* {
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 1px;
}

html, body, ul, h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

h1, h2, .button a {
    font-family: 'Oswald', sans-serif
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.footerContainer, .headerContainer, .info {
    display: flex;
}

h1.mainTitle {
    font-size: 48px;
    color: #ffffff;
    text-transform: capitalize;
    padding-bottom: 42px;
    font-weight: bold;
    padding-left: 324px;
    padding-right: 323px;
    
}

h2 {
    font-size: 48px;
    margin-bottom: 50px;
    font-weight: bold;
}

h3 {
    font-size: 24px;
}

h3, h2 {
    padding-left: 220px;
    padding-right: 220px;
}

p {
    font-size: 16px;
}

.color1 {
    color: #666666;
}

.color2 {
    color: #ffffff;
}

.color3 {
    color: #464547;
}

.logoTitle {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
}

.headerTitle, h2, h3, .button {
    text-align: center;
}


/* header */

.header {
    background-image: url(assets/header-img.png);
    padding: 30px 30px 50px 30px;
    background-size: cover;
    min-width: 100%;
    background-position: 100% 100%;
}

.logo {
    width: 32%;
}

.navbar {
    width: 68%;
}

.navList li {
    display: inline;
    margin-left: 40px;
    text-transform: uppercase;
}

.navList a {
    font-size: 14px;
    color: #ffffff;
}

.navList a:hover {
    border-bottom: 2px solid #ffffff;
}

.headerContainer {
    margin-bottom: 209px;
}

.headerTitle {
    margin-bottom: 226px;
}

.imgBig {
    margin-bottom: 15px;
}

.header .color2 {
    padding-left: 220px;
    padding-right: 220px;
}


/* main */

.sectionOne, .sectionTwo {
    padding-top: 80px;
    padding-bottom: 80px;
}

.sectionOne .info p {
    width: 50%;
    color: #666666;
    font-weight: 600;
}

.info {
    margin-bottom: 50px;
}

.info p + p {
    padding-left: 40px;
}

.info p {
    padding-right: 40px;
}

.sectionOne {
    background-color:  #EEEEEE;
}

.sectionOne h3 {
    margin-bottom: 43px;
}

.sectionTwo {
    background-image: url(assets/section-img.png);
    background-size: cover;
    min-width: 100%;
    background-position: 100% 100%;
}

.button a {
    background-color: #55C2D8;
    border-radius: 18px;
    padding: 5px 22px 5px 22px;
    font-size: 16px;
    color: #ffffff;
}

.button a:hover {
    background-color: #69D9EF;
    box-shadow: 4px 4px #464547;
}

.videoButton {
    background-color: #69D9EF;
    border: none;
    border-radius: 50%;
    padding: 25px 41px 25px 56px;
    left: 41%;
    position: relative;
    margin-bottom: 55px;
    color: #ffffff;
    font-size: 74px;
}

.videoButton:hover {
    background-color: #44CAFF;
}


/* footer */

.footer {
    background-color: #464547;
    padding: 33px 0 70px 0;
}

.data address, .data a, .copyright p {
    font-size: 15px;
    color: #ADAAAF;
}

.footerLogo {
    width: 26%;
    display: flex;
}

.data {
    width: 50%;
}

.data address {
    padding-bottom: 17px;
    font-style: normal;
}
 
.data a:hover {
    color: #EEEEEE;
}

.footer .imgSmall {
    width: 15%;
    padding-top: 5px;
}

/**/ .footer .smallWhiteImg {
    visibility: hidden;
}



.footer .logoTitle {
    width: 85%;
}

.copyright {
    width: 24%;
    padding-top: 56px;
}



/* Responsive design*/

@media (max-width: 768px ) {
    
    .container {
        max-width: 718px;
    }
    /* header */
    .header {
        min-width: auto;    
    }
    .headerContainer {
        margin-bottom: 185px;
    }
    .logoTitle {
        font-size: 17px;
    }
    .navList {
        display: none;
    }
    .one,.two,.three {
        height: 3px;
        background: #fff;
        margin: 6px 0px 6px 0px;
        width: 33px;
        border: 1px solid white;
        display: block;
    }
    .logo {
        width: 92%;
    }
    .navbar {
        width: 8%;
    }
    h1.mainTitle {
        font-size: 44px;
        padding-left: 237px;
        padding-right: 236px;
    }
    .header .color2 {
        padding-left: 143px;
        padding-right: 143px;
    }
    h2 {
        font-size: 45px;
        margin-bottom: 42px
    }
    h3 {
        font-size: 22px;
    }
    .headerTitle {
        margin-bottom: 200px;
    }

    /* main */
    .sectionOne, .sectionTwo {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .sectionOne h2, .sectionOne h3  {
        text-align: left;
        padding-right: 305px;
        padding-left: 0;
    }
    .button {
        text-align: left;
    }
    .sectionOne h3 {
        margin-bottom: 40px;
    }
    .info {
        display: block;
    }
    .info p, .info p + p {
        padding-left: 0;
        padding-right: 0;
    }
    .info p + p {
        margin-top: 15px;
    }
    .sectionTwo h2 {
        padding-left: 207px;
        padding-right: 207px;
    }
    .sectionTwo h3 {
        padding-left: 175px;
        padding-right: 175px
    }
    .videoButton {
        padding: 20px 36px 20px 51px;
        font-size: 70px;
        margin-bottom: 50px
    }

    /* footer */
    .footerContainer {
        display: block;
    }
    .copyright {
        display: none;
    }
   .footerLogo, .footer .imgSmall, .footer .logo, .footer .imgSmall, .data {
       width: auto;
   }
    .footer .imgSmall .smallBlueImg {
        padding-top: 0;
    }
    .footerContainer {
        left: 41%;
        position: relative;
    }
    .footerLogo {
        margin-bottom: 25px;
    }
    .footer .logo {
        margin-left: 17px
    }
    .address {
        display: table;
    }
    .address p {
        text-align: center;
    }

    .smallBlueImg {
        visibility: hidden;
    }

    .footer .smallWhiteImg {
        visibility: visible;
    }
    .logoTitle {
        padding-top: 3px;
    }
}



